<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Астролог Сергей Олоничев</title>
        <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">

        <!-- CSS set up -->
        <link rel="stylesheet" href="./index.css">
        
        <!-- CDNs -->
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>

        <header>

            <div class="header-content-container">

                <div>
                    <p class="motto-header increase-contrast">
                        Сбудется, конечно сбудется <br class="motto-header-line-break">
                        Все загаданное сбывается <br>
                        Подойдет, но сперва заблудится <br class="motto-header-line-break">
                        Так Чеширский кот улыбается.
                    </p>
                </div>

                <div class="logo-form-header-container">
                    <div class="logo-header">
                        <img class="logo-img" src="/assets/logo.png"/>
                        <h1 class="increase-contrast" >Гуманистическая <br> астрология</h1>
                    </div>
    
                    <form class="application-form increase-contrast" id="application-form" novalidate> 
                        <div class="form-input-container">
                            <div>
                                <label for="user-name" class="increase-contrast" >Ваше имя</label>
                                <input 
                                    class="form-input" 
                                    type="text" 
                                    id="user-name" 
                                    name="user-name" 
                                    placeholder="Укажите по желанию"
                                    pattern="^[a-zA-Zа-яА-ЯёЁ]+(([',. -][a-zA-Zа-яА-ЯёЁ ])?[a-zA-Zа-яА-ЯёЁ]*)*$"
                                    >
                            </div>
                            
                            <div>
                                <label for="user-email" class="increase-contrast" >Ваша почта</label>
                                <input 
                                    class="form-input"
                                    type="email" id="user-email" 
                                    name="user-email" 
                                    placeholder="Ваша почта"
                                    >
                            </div>
                            
                            <div>
                                <label for="user-phone" class="increase-contrast" >Телефон</label>
                                <input 
                                    class="form-input" 
                                    type="phone" 
                                    id="user-phone" 
                                    name="user-phone" 
                                    placeholder="Укажите по желанию"
                                    >
                            </div>
                        </div>
                        
                        <div>
                            <button class="form-btn">Подать заявку</button>
                        </div>  
                    </form>
    
                </div>

            </div>
            
        </header>

        <main class="main-container">

            <section class="nav-container">
                <nav class="link-container">
                    <a href="./index.html" class="nav-btn" >Главная</a>
                    <a href="./birthday-map.html" class="nav-btn" >Карта рождения</a>
                    <a href="./prediction.html" class="nav-btn" >Предсказательная астрология</a>
                    <a href="./relationship.html" class="nav-btn" >Астрология взаимоотношений</a>
                    <a href="./karma.html" class="nav-btn" >Кармическая астрология</a>
                    <a href="./medical.html" class="nav-btn" >Медицинская астрология</a>
                    <a href="./election.html" class="nav-btn" >Элективная астрология</a>
                    <a href="./relocate.html" class="nav-btn" >Релокация</a>
                    <a href="./harary.html" class="nav-btn" >Хорарная астрология</a>
                    <a href="./profession.html" class="nav-btn" >Астрологическая профориентация</a>
                    <a href="./rectification.html" class="nav-btn" >Ректификация</a>
                    <a href="./poetry.html" class="nav-btn" >Предсказания в стихах</a>
                    <a href="./notes.html" class="nav-btn" >Астрологические заметки</a>
                    <a href="./about.html" class="nav-btn" >Ваш астролог</a>
                    <a href="./guest-room.html" class="nav-btn" >Гостевая</a>
                </nav>  
            </section>

            <section class="content-container">
                <div>
                    <h2>Элективная астрология</h2>
                    <p>
                        Элективная астрология - это тот ее раздел, который позволяет выбирать 
                        оптимальное время для начала того или иного дела, будь то открытие магазина
                        или бракосочетаниe. Можно подгадать удачное с точки зрения астрологии время
                        поездки, деловой или развлекательной, время проведения операции, так, чтобы
                        все сложилось наиболее благоприятным образом. Влияние данной опции не стоит
                        переоценивать, так как в конечном итоге гораздо большее значение в любом случае
                        будут иметь действия, предпринимаемые в процессе самого мероприятия.
                    </p>
                </div>
            </section>
                     
        </main>

        <footer>

            <div class="footer-container increase-contrast">

                <div class="footer-contact-container">
                    <p class="footer-paragraph">Телефон: +7 960 511 36 98</p>
                    <p class="footer-paragraph mail-link-footer" id="mail-link-footer">Почта: gumastro@yandex.ru</p>
                    <p class="footer-paragraph">Вайбер: +7 960 511 36 98</p>
                </div>

                <div class="footer-contact-with-icon-container">
                    <div class="footer-icon-description-container">
                        <p class="footer-paragraph">Skype: gumastro</p>
                        <p class="footer-paragraph">Telegram: +7 960 511 36 98</p>
                        <p class="footer-paragraph">WhatsApp: +7 960 511 36 98</p>
                    </div>
    
                    <div class="footer-icon-container">
                        <a href="https://join.skype.com/invite/Nba8cr0zcjeM" target="_blank" aria-label="icon of the Skype link">
                            <i class="fa-brands fa-skype"></i>
                        </a>
                        <a href="https://t.me/Sergey_Olonichev" target="_blank" aria-label="icon of the Telegram link">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a href="https://wa.me/+79605113698" target="_blank" aria-label="icon of the WhatsApp link">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>

            </div>

        </footer>
        <script src="index.js" type="module"></script>
    </body>

</html>