
/* temporal utilities */

.border{
    border: 2px dotted rgb(50, 204, 19);
}

/* utilities */

.increase-contrast{
    text-shadow: 1px 1px 4px black;
}

/* set up */

body{
    margin: 0;
    
    text-align: center;
    font-size: 1.25em;
}

h1{
    font-size: 2.1em;
}

h2{
    font-size: 1.9em;
    margin: 0px;
}

h4{
    font-size: 1.75em;
    margin: 0px;
}

label{
    font-size: 1.25em;
}

input{
    font-size: 1em;
}

button{
    font-size: 0.9em;
}

p{
    font-size: 1.1em;
}

/* layout */

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;

    margin: 0;

    background-image: url(/assets/header-background-img.jpg);
    color: aliceblue;
}

.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 30%;
}

.logo-img{
    display: block;

    width: 100%;
    
    margin-right: 30px;

    border-radius: 100%;
}

.application-form{
    padding: 0 5% 0 10%;
    
    font-size: 0.9em;

}

.form-container{
    display: flex;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-header{
    margin-top: 0px;
}

.form-btn{
    margin-left: 50px;
    font-size: 1.15em;
    padding: 5px;
    border-radius: 15%;
}

.main-container{
    display: flex;
    justify-content: space-evenly;

    padding: 40px;
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav-btn{
    padding: 5px 0 5px 0;
    margin: 2px 0 2px 0;
    
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.content-container{
    display: flex;
    justify-content: center;
    
    width: 75%;
    max-height: 700px;
    
    overflow-y: auto;
}

.astroleger-page-photo-container-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.astroleger-page-photo-container-child{
    width: 17.5%;
    height: 17.5%;
}

.astrologer-page-photo{
    display: block;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-paragraph{
    margin: 0;
}

.footer-icon-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer-contact-container{
    text-align: left;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-icon-description-container{
    text-align: left;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.fa-brands{
    font-size: 50px;
    cursor: pointer;
}


/* functionality */

.toggle-display-none{
    display: none;
}

#content-main{
    display: block;
}

.hidden{
    display: none;
}

/* specificity */

.main-container{
    background-image: url(/assets/main-background.png) no-repeat center ;
}

.nav-btn{
    cursor: pointer;
    border: 1px solid rgb(111, 57, 182, 0.5);
    padding: 5px 3px 5px 3px;
}

.nav-btn:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(111, 57, 182, 0.8);
    transform: scale(1.04);
}

.footer-container{
    /* background-color: rgba(43, 16, 78, 0.8);
    color: whitesmoke;
    padding: 20px; */
    color: whitesmoke;
    background-image: url(/assets/header-background-img.jpg);
}

.fa-brands:hover{
    color: rgb(88, 216, 216);
}