
/* temporal utilities */

.border{
    border: 2px dotted rgb(50, 204, 19);
}

/* utilities */

.increase-contrast{
    text-shadow: 1px 1px 4px black;
}

.notes-font-weight{
    font-weight: normal;
}

/* set up */

body{
    margin: 0;
    
    text-align: center;
    font-size: 1.25em;
}

h1{
    font-size: 2.1em;
}

h2{
    font-size: 1.75em;
    margin: 0px;
}

h4{
    font-size: 1.75em;
    margin: 0px;
}

p{
    font-size: 1.1em;
    margin: 15px 0 0 0;
}

label{
    font-size: 1.25em;
}

input{
    font-size: 1em;
}

button{
    font-size: 0.9em;
}

/* layout */

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;

    margin: 0;

    background-image: url(/assets/header-background-img.jpg);
    color: aliceblue;
}

.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 30%;
}

.logo-img{
    display: block;

    width: 100%;
    
    margin-right: 30px;

    border-radius: 100%;
}

.application-form{
    font-size: 0.9em;

    padding: 0 5% 0 10%;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    max-width: 250px;
}

.form-input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-header{
    margin-top: 0px;
}

.form-btn{
    font-size: 1.15em;

    margin-left: 50px;
    padding: 5px;
    
    border-radius: 15%;
}

.main-container{
    display: flex;
    justify-content: space-evenly;

    padding: 40px;
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav-btn{
    margin: 2px 0 2px 0;
    padding: 5px 0 5px 0;
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-container{
    display: flex;
    justify-content: center;

    width: 75%;
    max-height: 700px;
    
    overflow-y: auto;
}

.birthday-map-photo-container{
    display: block;
    
    margin: 10px auto;

    width: 40%;
}

.birthday-map-photo{
    display: block;

    width: 100%;
}

.astroleger-page-photo-container-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.astroleger-page-photo-container-child{
    width: 17.5%;
    height: 17.5%;
}

.astrologer-page-photo{
    display: block;
    
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-paragraph{
    margin: 0;
}

.footer-icon-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer-contact-container{
    text-align: left;
    align-self: stretch;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-icon-description-container{
    text-align: left;
    align-self: stretch;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fa-brands{
    font-size: 50px;
    
    cursor: pointer;
}

/* specificity */

.form-btn{
    border: none;

    cursor: pointer; 
}

.form-btn:hover{
    background-color: rgb(114, 188, 218);

    transform: scale(111.15);
    transition: transform 110.5s ease;
}

.main-container{
    background-image: url(/assets/main-background.png) no-repeat center ;
}

.nav-btn{
    padding: 5px 3px 5px 3px;
    border: 1px solid rgb(111, 57, 182, 0.5);
    
    background-color:rgb(246, 241, 250);
    
    cursor: pointer;
}

.nav-btn:hover{
    color: whitesmoke;
    background-color: rgb(111, 57, 182, 0.8);

    transform: scale(1.04);
}

.full-note-container{
    margin-top: 15px;
}

.note-title{
    cursor: pointer;
}

.note-link-style{
    font-size: 0.75em;
    text-decoration: underline rgb(111, 57, 182, 0.5);

    margin: 3px;
    padding: 5px 3px 5px 3px;
    /* border: 1px solid rgb(111, 57, 182, 0.5); */
    
    /* background-color:rgb(246, 241, 250); */

    cursor: pointer;
}

.note-link-style:hover{
    text-decoration: none;

    color: whitesmoke;
    background-color: rgb(111, 57, 182, 0.8);

    transform: scale(1.04);
}

.back-to-all-notes-btn{
    font-size: 1.1em;

    margin: 15px 3px 3px 3px;
    padding: 5px 3px 5px 3px;
    border: 1px solid rgb(111, 57, 182, 0.5);
    
    background-color:rgb(246, 241, 250);

    cursor: pointer;
}

.back-to-all-notes-btn:hover{
    color: whitesmoke;
    background-color: rgb(111, 57, 182, 0.8);

    transform: scale(1.04);
}

.footer-container{
    color: whitesmoke;
    background-image: url(/assets/header-background-img.jpg);
}

.fa-brands:hover{
    color: rgb(88, 216, 216);
}

/* functionality */

/* content displaying */

.toggle-display-none{
    display: none;
}

#content-main{
    display: block;
}

.hidden{
    display: none;
}

/* toggle dimploms photos */

.expanded{
    position: absolute;
    top: 0;
    left: 32.5%;
    width: 35%;
    height: 35%;
}
